<%- include('../partials/head') %>

    <body>
        <header>
            <h1>Send a message</h1>
        </header>
        <div class="containerForm">

            <form method="POST" action="/new" class="form">
                <label for="authorName">Author:

                    <input type="text" name="authorName" id="authorName">
                </label>
                <label for="text">
                    Message:
                    <input type="text" name="text" id="text">
                </label>

                <input type="submit" value="Send">

            </form>
        </div>

    </body>


    <%- include('../partials/footer') %>